body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.vi-bg{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;/* Ensure the video covers the entire background */
    z-index: -1;/* Ensure the video stays in the background */
}
.content-items{
    position: fixed;
    top:0;
    right:0;
    margin-top: 25px;
    margin-right: 20px;
    gap:30px;
}
.content-items Button{
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: grey;
}
.content-items Button:hover{
    background-color:aqua;
}
.content{
    border: 2px solid black;
    background-color: black;
    z-index: 10;
    color: white;
    border-radius: 30px;
    width: 100%;
    margin-top: -25px;
    height:100px;
    display:flex;
    flex-direction: row;
}
.content img{
    width: 130px;
    margin-top: 20px;
}
.content p{
    margin-top: 45px;
    font-size: 25px;
    font-weight: bolder;
    margin-left: -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content2{
    position: fixed;
    border: 2px solid black;
    background-color: black;
    z-index:10;
    text-align: center;
    bottom: 0;
    align-items: center;
    color: white;
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.hidden {
            display: none;
        }
#contentToHome {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-38%, -45%);
    border: 2px solid black;
    background-color: rgba(68, 77, 77, 0.9);
    color:white; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}